In [47]:
listik = [1024,7,9,2,3,1,7,8,10,125,45]
for n in range(0,len(listik)):
    maximum_i = n
    for i in range(n,len(listik)):
        if listik[i] > listik[maximum_i]:
            maximum_i = i
    listik[n] , listik[maximum_i] = listik[maximum_i], listik[n]
print(listik)

[1024, 125, 45, 10, 9, 8, 7, 7, 3, 2, 1]

In [45]:
listik = [5,7,9,2,3,1,7,8,10,125,45]
for n in range(0,len(listik)):
    maximum = listik[n]
    for i in range(n,len(listik)):
        if listik[i] > maximum:
            index = i
            maximum = listik[index]
    listik[n] , listik[index] = maximum, listik[n]
print(listik)

[125, 45, 10, 9, 8, 7, 7, 5, 3, 1, 1]

In [46]:
all(listik[i] >= listik[i+1] for i in range(len(listik) - 1))

True

In [48]:
listik = [5,7,9,2,3,1,7,8,10,125,45]
for n in range(0,3):
    maximum = listik[n]
    for i in range(n,len(listik)):
        if listik[i] > maximum:
            maximum = listik[i]
            index = i
    listik[n] , listik[index] = maximum, listik[n]
    
for n in range(len(listik)-1, len(listik) - 4, -1):
    minimum = listik[n]
    for i in range(n, 2, -1):
        if listik[i] < minimum:
            minimum = listik[i]
            index = i
    listik[n], listik[index] = minimum, listik[n]
    
print(listik)

[125, 45, 10, 5, 9, 7, 7, 8, 3, 2, 1]

In [4]:


request = requests.get('https://raw.githubusercontent.com/NumminorihSF/json-pokemon/master/data.json')
result = request.json()
def parsing_skills(info):
    skill = ['fire','poison', 'grass', 'flying', 'water', 'bug', 'normal', 'electric', 'rock', 'ground']
    txt_result = []
    add_skill = []
    for sk in info['typeList']:
        if sk.lower() in skill:
            txt_result.append(sk.lower())
        else:
            add_skill.append(sk.lower())
        
    return [txt_result, add_skill]


def get_request_sql(pokemon_save):
    req1 = 'INSERT INTO laba(name'
    req2 = ', date) VALUES ('+ f'\"{pokemon_save["name"]}\"'
    
    pars_skill = parsing_skills(pokemon_save)
    
    for elem in pars_skill[0]:
        req1 += ', '+elem
        req2 +=', 1'

    if pars_skill[1]:
        req1 += ', add_skill'
        txt_skill = ' "'
        for elem in pars_skill[1]:
            txt_skill += elem
        txt_skill += '"'
        req2 += ',' + txt_skill
        
    return req1 + req2 + ', DATE(\'now\','+f'\"{num}days\"' + '))'


def save_db(response_sql):
    import sqlite3
    db = sqlite3.connect('laba_pokemones.db')
    cur = db.cursor()
    print()
    print('-----------------------')
    print(response_sql)
    print('-----------------------')
    cur.execute(response_sql)
    db.commit()
    db.close()
    
result[3]
for i in range(len(result)):
    save_db(get_request_sql(result[i]))
    num += 1

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Bulbasaur", 1, 1, DATE('now',"0days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Ivysaur", 1, 1, DATE('now',"1days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Venusaur", 1, 1, DATE('now',"2days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Charmander", 1, DATE('now',"3days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Charmeleon", 1, DATE('now',"4days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Charizard", 1, 1, DATE('now',"5days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Squirtle", 1, DATE('now',"6days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wartortle", 1, DATE('now',"7days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Blastoise", 1, DATE('now',"8days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Caterpie", 1, DATE('now',"9days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Metapod", 1, DATE('now',"10days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Butterfree", 1, 1, DATE('now',"11days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Weedle", 1, 1, DATE('now',"12days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Kakuna", 1, 1, DATE('now',"13days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Beedrill", 1, 1, DATE('now',"14days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidgey", 1, 1, DATE('now',"15days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidgeotto", 1, 1, DATE('now',"16days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidgeot", 1, 1, DATE('now',"17days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Rattata", 1, DATE('now',"18days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Raticate", 1, DATE('now',"19days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Spearow", 1, 1, DATE('now',"20days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Fearow", 1, 1, DATE('now',"21days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Ekans", 1, DATE('now',"22days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Arbok", 1, DATE('now',"23days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Pikachu", 1, DATE('now',"24days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Raichu", 1, DATE('now',"25days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Sandshrew", 1, DATE('now',"26days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Sandslash", 1, DATE('now',"27days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidoran♀", 1, DATE('now',"28days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidorina", 1, DATE('now',"29days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, ground, date) VALUES ("Nidoqueen", 1, 1, DATE('now',"30days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidoran♂", 1, DATE('now',"31days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidorino", 1, DATE('now',"32days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, ground, date) VALUES ("Nidoking", 1, 1, DATE('now',"33days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Clefairy", "fairy", DATE('now',"34days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Clefable", "fairy", DATE('now',"35days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Vulpix", 1, DATE('now',"36days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Ninetales", 1, DATE('now',"37days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Jigglypuff", 1, "fairy", DATE('now',"38days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Wigglytuff", 1, "fairy", DATE('now',"39days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, flying, date) VALUES ("Zubat", 1, 1, DATE('now',"40days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, flying, date) VALUES ("Golbat", 1, 1, DATE('now',"41days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Oddish", 1, 1, DATE('now',"42days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Gloom", 1, 1, DATE('now',"43days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Vileplume", 1, 1, DATE('now',"44days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Paras", 1, 1, DATE('now',"45days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Parasect", 1, 1, DATE('now',"46days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Venonat", 1, 1, DATE('now',"47days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Venomoth", 1, 1, DATE('now',"48days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Diglett", 1, DATE('now',"49days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Dugtrio", 1, DATE('now',"50days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Meowth", 1, DATE('now',"51days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Persian", 1, DATE('now',"52days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Psyduck", 1, DATE('now',"53days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Golduck", 1, DATE('now',"54days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mankey", "fighting", DATE('now',"55days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Primeape", "fighting", DATE('now',"56days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Growlithe", 1, DATE('now',"57days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Arcanine", 1, DATE('now',"58days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Poliwag", 1, DATE('now',"59days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Poliwhirl", 1, DATE('now',"60days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Poliwrath", 1, "fighting", DATE('now',"61days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Abra", "psychic", DATE('now',"62days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kadabra", "psychic", DATE('now',"63days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Alakazam", "psychic", DATE('now',"64days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Machop", "fighting", DATE('now',"65days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Machoke", "fighting", DATE('now',"66days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Machamp", "fighting", DATE('now',"67days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Bellsprout", 1, 1, DATE('now',"68days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Weepinbell", 1, 1, DATE('now',"69days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Victreebel", 1, 1, DATE('now',"70days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, poison, date) VALUES ("Tentacool", 1, 1, DATE('now',"71days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, poison, date) VALUES ("Tentacruel", 1, 1, DATE('now',"72days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Geodude", 1, 1, DATE('now',"73days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Graveler", 1, 1, DATE('now',"74days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Golem", 1, 1, DATE('now',"75days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Ponyta", 1, DATE('now',"76days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Rapidash", 1, DATE('now',"77days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Slowpoke", 1, "psychic", DATE('now',"78days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Slowbro", 1, "psychic", DATE('now',"79days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Magnemite", 1, "steel", DATE('now',"80days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Magneton", 1, "steel", DATE('now',"81days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Farfetch'd", 1, 1, DATE('now',"82days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Doduo", 1, 1, DATE('now',"83days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Dodrio", 1, 1, DATE('now',"84days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Seel", 1, DATE('now',"85days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Dewgong", 1, "ice", DATE('now',"86days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Grimer", 1, DATE('now',"87days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Muk", 1, DATE('now',"88days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Shellder", 1, DATE('now',"89days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Cloyster", 1, "ice", DATE('now',"90days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Gastly", 1, "ghost", DATE('now',"91days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Haunter", 1, "ghost", DATE('now',"92days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Gengar", 1, "ghost", DATE('now',"93days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Onix", 1, 1, DATE('now',"94days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Drowzee", "psychic", DATE('now',"95days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hypno", "psychic", DATE('now',"96days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Krabby", 1, DATE('now',"97days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Kingler", 1, DATE('now',"98days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Voltorb", 1, DATE('now',"99days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electrode", 1, DATE('now',"100days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Exeggcute", 1, "psychic", DATE('now',"101days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Exeggutor", 1, "psychic", DATE('now',"102days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Cubone", 1, DATE('now',"103days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Marowak", 1, DATE('now',"104days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hitmonlee", "fighting", DATE('now',"105days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hitmonchan", "fighting", DATE('now',"106days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lickitung", 1, DATE('now',"107days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Koffing", 1, DATE('now',"108days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Weezing", 1, DATE('now',"109days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, rock, date) VALUES ("Rhyhorn", 1, 1, DATE('now',"110days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, rock, date) VALUES ("Rhydon", 1, 1, DATE('now',"111days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Chansey", 1, DATE('now',"112days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Tangela", 1, DATE('now',"113days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Kangaskhan", 1, DATE('now',"114days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Horsea", 1, DATE('now',"115days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Seadra", 1, DATE('now',"116days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Goldeen", 1, DATE('now',"117days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Seaking", 1, DATE('now',"118days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Staryu", 1, DATE('now',"119days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Starmie", 1, "psychic", DATE('now',"120days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mr. Mime", "psychicfairy", DATE('now',"121days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Scyther", 1, 1, DATE('now',"122days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Jynx", "icepsychic", DATE('now',"123days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electabuzz", 1, DATE('now',"124days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Magmar", 1, DATE('now',"125days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Pinsir", 1, DATE('now',"126days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Tauros", 1, DATE('now',"127days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Magikarp", 1, DATE('now',"128days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Gyarados", 1, 1, DATE('now',"129days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Lapras", 1, "ice", DATE('now',"130days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Ditto", 1, DATE('now',"131days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Eevee", 1, DATE('now',"132days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Vaporeon", 1, DATE('now',"133days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Jolteon", 1, DATE('now',"134days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Flareon", 1, DATE('now',"135days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Porygon", 1, DATE('now',"136days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Omanyte", 1, 1, DATE('now',"137days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Omastar", 1, 1, DATE('now',"138days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Kabuto", 1, 1, DATE('now',"139days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Kabutops", 1, 1, DATE('now',"140days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Aerodactyl", 1, 1, DATE('now',"141days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Snorlax", 1, DATE('now',"142days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Articuno", 1, "ice", DATE('now',"143days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, flying, date) VALUES ("Zapdos", 1, 1, DATE('now',"144days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Moltres", 1, 1, DATE('now',"145days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dratini", "dragon", DATE('now',"146days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dragonair", "dragon", DATE('now',"147days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Dragonite", 1, "dragon", DATE('now',"148days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mewtwo", "psychic", DATE('now',"149days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mew", "psychic", DATE('now',"150days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Chikorita", 1, DATE('now',"151days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Bayleef", 1, DATE('now',"152days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Meganium", 1, DATE('now',"153days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Cyndaquil", 1, DATE('now',"154days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Quilava", 1, DATE('now',"155days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Typhlosion", 1, DATE('now',"156days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Totodile", 1, DATE('now',"157days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Croconaw", 1, DATE('now',"158days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Feraligatr", 1, DATE('now',"159days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Sentret", 1, DATE('now',"160days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Furret", 1, DATE('now',"161days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Hoothoot", 1, 1, DATE('now',"162days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Noctowl", 1, 1, DATE('now',"163days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Ledyba", 1, 1, DATE('now',"164days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Ledian", 1, 1, DATE('now',"165days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Spinarak", 1, 1, DATE('now',"166days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Ariados", 1, 1, DATE('now',"167days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, flying, date) VALUES ("Crobat", 1, 1, DATE('now',"168days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, electric, date) VALUES ("Chinchou", 1, 1, DATE('now',"169days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, electric, date) VALUES ("Lanturn", 1, 1, DATE('now',"170days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Pichu", 1, DATE('now',"171days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cleffa", "fairy", DATE('now',"172days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Igglybuff", 1, "fairy", DATE('now',"173days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Togepi", "fairy", DATE('now',"174days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Togetic", 1, "fairy", DATE('now',"175days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Natu", 1, "psychic", DATE('now',"176days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Xatu", 1, "psychic", DATE('now',"177days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Mareep", 1, DATE('now',"178days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Flaaffy", 1, DATE('now',"179days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Ampharos", 1, DATE('now',"180days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Bellossom", 1, DATE('now',"181days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Marill", 1, "fairy", DATE('now',"182days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Azumarill", 1, "fairy", DATE('now',"183days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Sudowoodo", 1, DATE('now',"184days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Politoed", 1, DATE('now',"185days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Hoppip", 1, 1, DATE('now',"186days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Skiploom", 1, 1, DATE('now',"187days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Jumpluff", 1, 1, DATE('now',"188days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Aipom", 1, DATE('now',"189days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Sunkern", 1, DATE('now',"190days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Sunflora", 1, DATE('now',"191days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Yanma", 1, 1, DATE('now',"192days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Wooper", 1, 1, DATE('now',"193days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Quagsire", 1, 1, DATE('now',"194days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Espeon", "psychic", DATE('now',"195days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Umbreon", "dark", DATE('now',"196days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Murkrow", 1, "dark", DATE('now',"197days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Slowking", 1, "psychic", DATE('now',"198days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Misdreavus", "ghost", DATE('now',"199days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Unown", "psychic", DATE('now',"200days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Wobbuffet", "psychic", DATE('now',"201days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Girafarig", 1, "psychic", DATE('now',"202days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Pineco", 1, DATE('now',"203days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Forretress", 1, "steel", DATE('now',"204days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Dunsparce", 1, DATE('now',"205days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, flying, date) VALUES ("Gligar", 1, 1, DATE('now',"206days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Steelix", 1, "steel", DATE('now',"207days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Snubbull", "fairy", DATE('now',"208days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Granbull", "fairy", DATE('now',"209days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, poison, date) VALUES ("Qwilfish", 1, 1, DATE('now',"210days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Scizor", 1, "steel", DATE('now',"211days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, rock, date) VALUES ("Shuckle", 1, 1, DATE('now',"212days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Heracross", 1, "fighting", DATE('now',"213days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sneasel", "darkice", DATE('now',"214days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Teddiursa", 1, DATE('now',"215days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Ursaring", 1, DATE('now',"216days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Slugma", 1, DATE('now',"217days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, rock, date) VALUES ("Magcargo", 1, 1, DATE('now',"218days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Swinub", 1, "ice", DATE('now',"219days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Piloswine", 1, "ice", DATE('now',"220days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Corsola", 1, 1, DATE('now',"221days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Remoraid", 1, DATE('now',"222days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Octillery", 1, DATE('now',"223days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Delibird", 1, "ice", DATE('now',"224days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Mantine", 1, 1, DATE('now',"225days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Skarmory", 1, "steel", DATE('now',"226days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Houndour", 1, "dark", DATE('now',"227days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Houndoom", 1, "dark", DATE('now',"228days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Kingdra", 1, "dragon", DATE('now',"229days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Phanpy", 1, DATE('now',"230days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Donphan", 1, DATE('now',"231days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Porygon2", 1, DATE('now',"232days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Stantler", 1, DATE('now',"233days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Smeargle", 1, DATE('now',"234days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Tyrogue", "fighting", DATE('now',"235days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hitmontop", "fighting", DATE('now',"236days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Smoochum", "icepsychic", DATE('now',"237days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Elekid", 1, DATE('now',"238days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Magby", 1, DATE('now',"239days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Miltank", 1, DATE('now',"240days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Blissey", 1, DATE('now',"241days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Raikou", 1, DATE('now',"242days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Entei", 1, DATE('now',"243days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Suicune", 1, DATE('now',"244days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Larvitar", 1, 1, DATE('now',"245days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Pupitar", 1, 1, DATE('now',"246days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Tyranitar", 1, "dark", DATE('now',"247days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Lugia", 1, "psychic", DATE('now',"248days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Ho-oh", 1, 1, DATE('now',"249days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Celebi", 1, "psychic", DATE('now',"250days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Treecko", 1, DATE('now',"251days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Grovyle", 1, DATE('now',"252days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Sceptile", 1, DATE('now',"253days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Torchic", 1, DATE('now',"254days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Combusken", 1, "fighting", DATE('now',"255days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Blaziken", 1, "fighting", DATE('now',"256days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Mudkip", 1, DATE('now',"257days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Marshtomp", 1, 1, DATE('now',"258days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Swampert", 1, 1, DATE('now',"259days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Poochyena", "dark", DATE('now',"260days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mightyena", "dark", DATE('now',"261days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Zigzagoon", 1, DATE('now',"262days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Linoone", 1, DATE('now',"263days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Wurmple", 1, DATE('now',"264days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Silcoon", 1, DATE('now',"265days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Beautifly", 1, 1, DATE('now',"266days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Cascoon", 1, DATE('now',"267days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Dustox", 1, 1, DATE('now',"268days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, grass, date) VALUES ("Lotad", 1, 1, DATE('now',"269days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, grass, date) VALUES ("Lombre", 1, 1, DATE('now',"270days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, grass, date) VALUES ("Ludicolo", 1, 1, DATE('now',"271days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Seedot", 1, DATE('now',"272days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Nuzleaf", 1, "dark", DATE('now',"273days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Shiftry", 1, "dark", DATE('now',"274days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Taillow", 1, 1, DATE('now',"275days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Swellow", 1, 1, DATE('now',"276days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Wingull", 1, 1, DATE('now',"277days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Pelipper", 1, 1, DATE('now',"278days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Ralts", "psychicfairy", DATE('now',"279days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kirlia", "psychicfairy", DATE('now',"280days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gardevoir", "psychicfairy", DATE('now',"281days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, water, date) VALUES ("Surskit", 1, 1, DATE('now',"282days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Masquerain", 1, 1, DATE('now',"283days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Shroomish", 1, DATE('now',"284days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Breloom", 1, "fighting", DATE('now',"285days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Slakoth", 1, DATE('now',"286days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Vigoroth", 1, DATE('now',"287days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Slaking", 1, DATE('now',"288days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, ground, date) VALUES ("Nincada", 1, 1, DATE('now',"289days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Ninjask", 1, 1, DATE('now',"290days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Shedinja", 1, "ghost", DATE('now',"291days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Whismur", 1, DATE('now',"292days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Loudred", 1, DATE('now',"293days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Exploud", 1, DATE('now',"294days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Makuhita", "fighting", DATE('now',"295days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hariyama", "fighting", DATE('now',"296days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Azurill", 1, "fairy", DATE('now',"297days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Nosepass", 1, DATE('now',"298days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Skitty", 1, DATE('now',"299days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Delcatty", 1, DATE('now',"300days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sableye", "darkghost", DATE('now',"301days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mawile", "steelfairy", DATE('now',"302days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Aron", 1, "steel", DATE('now',"303days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Lairon", 1, "steel", DATE('now',"304days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Aggron", 1, "steel", DATE('now',"305days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Meditite", "fightingpsychic", DATE('now',"306days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Medicham", "fightingpsychic", DATE('now',"307days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electrike", 1, DATE('now',"308days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Manectric", 1, DATE('now',"309days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Plusle", 1, DATE('now',"310days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Minun", 1, DATE('now',"311days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Volbeat", 1, DATE('now',"312days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Illumise", 1, DATE('now',"313days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Roselia", 1, 1, DATE('now',"314days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Gulpin", 1, DATE('now',"315days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Swalot", 1, DATE('now',"316days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Carvanha", 1, "dark", DATE('now',"317days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Sharpedo", 1, "dark", DATE('now',"318days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wailmer", 1, DATE('now',"319days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wailord", 1, DATE('now',"320days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, ground, date) VALUES ("Numel", 1, 1, DATE('now',"321days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, ground, date) VALUES ("Camerupt", 1, 1, DATE('now',"322days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Torkoal", 1, DATE('now',"323days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Spoink", "psychic", DATE('now',"324days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Grumpig", "psychic", DATE('now',"325days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Spinda", 1, DATE('now',"326days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Trapinch", 1, DATE('now',"327days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Vibrava", 1, "dragon", DATE('now',"328days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Flygon", 1, "dragon", DATE('now',"329days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Cacnea", 1, DATE('now',"330days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Cacturne", 1, "dark", DATE('now',"331days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Swablu", 1, 1, DATE('now',"332days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Altaria", 1, "dragon", DATE('now',"333days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Zangoose", 1, DATE('now',"334days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Seviper", 1, DATE('now',"335days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Lunatone", 1, "psychic", DATE('now',"336days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Solrock", 1, "psychic", DATE('now',"337days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Barboach", 1, 1, DATE('now',"338days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Whiscash", 1, 1, DATE('now',"339days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Corphish", 1, DATE('now',"340days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Crawdaunt", 1, "dark", DATE('now',"341days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Baltoy", 1, "psychic", DATE('now',"342days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Claydol", 1, "psychic", DATE('now',"343days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, grass, date) VALUES ("Lileep", 1, 1, DATE('now',"344days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, grass, date) VALUES ("Cradily", 1, 1, DATE('now',"345days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, bug, date) VALUES ("Anorith", 1, 1, DATE('now',"346days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, bug, date) VALUES ("Armaldo", 1, 1, DATE('now',"347days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Feebas", 1, DATE('now',"348days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Milotic", 1, DATE('now',"349days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Castform", 1, DATE('now',"350days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Kecleon", 1, DATE('now',"351days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Shuppet", "ghost", DATE('now',"352days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Banette", "ghost", DATE('now',"353days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Duskull", "ghost", DATE('now',"354days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dusclops", "ghost", DATE('now',"355days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Tropius", 1, 1, DATE('now',"356days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Chimecho", "psychic", DATE('now',"357days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Absol", "dark", DATE('now',"358days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Wynaut", "psychic", DATE('now',"359days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Snorunt", "ice", DATE('now',"360days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Glalie", "ice", DATE('now',"361days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Spheal", 1, "ice", DATE('now',"362days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Sealeo", 1, "ice", DATE('now',"363days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Walrein", 1, "ice", DATE('now',"364days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Clamperl", 1, DATE('now',"365days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Huntail", 1, DATE('now',"366days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Gorebyss", 1, DATE('now',"367days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Relicanth", 1, 1, DATE('now',"368days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Luvdisc", 1, DATE('now',"369days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bagon", "dragon", DATE('now',"370days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Shelgon", "dragon", DATE('now',"371days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Salamence", 1, "dragon", DATE('now',"372days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Beldum", "steelpsychic", DATE('now',"373days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Metang", "steelpsychic", DATE('now',"374days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Metagross", "steelpsychic", DATE('now',"375days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Regirock", 1, DATE('now',"376days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Regice", "ice", DATE('now',"377days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Registeel", "steel", DATE('now',"378days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Latias", "dragonpsychic", DATE('now',"379days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Latios", "dragonpsychic", DATE('now',"380days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Kyogre", 1, DATE('now',"381days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Groudon", 1, DATE('now',"382days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Rayquaza", 1, "dragon", DATE('now',"383days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Jirachi", "steelpsychic", DATE('now',"384days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Deoxys", "psychic", DATE('now',"385days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Turtwig", 1, DATE('now',"386days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Grotle", 1, DATE('now',"387days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, ground, date) VALUES ("Torterra", 1, 1, DATE('now',"388days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Chimchar", 1, DATE('now',"389days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Monferno", 1, "fighting", DATE('now',"390days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Infernape", 1, "fighting", DATE('now',"391days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Piplup", 1, DATE('now',"392days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Prinplup", 1, DATE('now',"393days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Empoleon", 1, "steel", DATE('now',"394days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Starly", 1, 1, DATE('now',"395days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Staravia", 1, 1, DATE('now',"396days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Staraptor", 1, 1, DATE('now',"397days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Bidoof", 1, DATE('now',"398days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, water, date) VALUES ("Bibarel", 1, 1, DATE('now',"399days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Kricketot", 1, DATE('now',"400days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Kricketune", 1, DATE('now',"401days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Shinx", 1, DATE('now',"402days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Luxio", 1, DATE('now',"403days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Luxray", 1, DATE('now',"404days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Budew", 1, 1, DATE('now',"405days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Roserade", 1, 1, DATE('now',"406days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Cranidos", 1, DATE('now',"407days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Rampardos", 1, DATE('now',"408days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Shieldon", 1, "steel", DATE('now',"409days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Bastiodon", 1, "steel", DATE('now',"410days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Burmy", 1, DATE('now',"411days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Wormadam", 1, 1, DATE('now',"412days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Mothim", 1, 1, DATE('now',"413days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Combee", 1, 1, DATE('now',"414days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Vespiquen", 1, 1, DATE('now',"415days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Pachirisu", 1, DATE('now',"416days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Buizel", 1, DATE('now',"417days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Floatzel", 1, DATE('now',"418days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Cherubi", 1, DATE('now',"419days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Cherrim", 1, DATE('now',"420days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Shellos", 1, DATE('now',"421days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Gastrodon", 1, 1, DATE('now',"422days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Ambipom", 1, DATE('now',"423days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Drifloon", 1, "ghost", DATE('now',"424days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Drifblim", 1, "ghost", DATE('now',"425days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Buneary", 1, DATE('now',"426days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lopunny", 1, DATE('now',"427days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mismagius", "ghost", DATE('now',"428days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Honchkrow", 1, "dark", DATE('now',"429days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Glameow", 1, DATE('now',"430days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Purugly", 1, DATE('now',"431days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Chingling", "psychic", DATE('now',"432days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Stunky", 1, "dark", DATE('now',"433days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Skuntank", 1, "dark", DATE('now',"434days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bronzor", "steelpsychic", DATE('now',"435days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bronzong", "steelpsychic", DATE('now',"436days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Bonsly", 1, DATE('now',"437days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mime Jr.", "psychicfairy", DATE('now',"438days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Happiny", 1, DATE('now',"439days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Chatot", 1, 1, DATE('now',"440days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Spiritomb", "ghostdark", DATE('now',"441days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Gible", 1, "dragon", DATE('now',"442days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Gabite", 1, "dragon", DATE('now',"443days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Garchomp", 1, "dragon", DATE('now',"444days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Munchlax", 1, DATE('now',"445days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Riolu", "fighting", DATE('now',"446days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Lucario", "fightingsteel", DATE('now',"447days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Hippopotas", 1, DATE('now',"448days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Hippowdon", 1, DATE('now',"449days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, bug, date) VALUES ("Skorupi", 1, 1, DATE('now',"450days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Drapion", 1, "dark", DATE('now',"451days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Croagunk", 1, "fighting", DATE('now',"452days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Toxicroak", 1, "fighting", DATE('now',"453days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Carnivine", 1, DATE('now',"454days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Finneon", 1, DATE('now',"455days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Lumineon", 1, DATE('now',"456days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Mantyke", 1, 1, DATE('now',"457days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Snover", 1, "ice", DATE('now',"458days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Abomasnow", 1, "ice", DATE('now',"459days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Weavile", "darkice", DATE('now',"460days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Magnezone", 1, "steel", DATE('now',"461days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lickilicky", 1, DATE('now',"462days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, rock, date) VALUES ("Rhyperior", 1, 1, DATE('now',"463days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Tangrowth", 1, DATE('now',"464days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electivire", 1, DATE('now',"465days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Magmortar", 1, DATE('now',"466days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Togekiss", 1, "fairy", DATE('now',"467days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Yanmega", 1, 1, DATE('now',"468days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Leafeon", 1, DATE('now',"469days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Glaceon", "ice", DATE('now',"470days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, flying, date) VALUES ("Gliscor", 1, 1, DATE('now',"471days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Mamoswine", 1, "ice", DATE('now',"472days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Porygon-Z", 1, DATE('now',"473days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gallade", "psychicfighting", DATE('now',"474days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Probopass", 1, "steel", DATE('now',"475days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dusknoir", "ghost", DATE('now',"476days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Froslass", "iceghost", DATE('now',"477days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Rotom", 1, "ghost", DATE('now',"478days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Uxie", "psychic", DATE('now',"479days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mesprit", "psychic", DATE('now',"480days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Azelf", "psychic", DATE('now',"481days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dialga", "steeldragon", DATE('now',"482days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Palkia", 1, "dragon", DATE('now',"483days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Heatran", 1, "steel", DATE('now',"484days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Regigigas", 1, DATE('now',"485days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Giratina", "ghostdragon", DATE('now',"486days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cresselia", "psychic", DATE('now',"487days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Phione", 1, DATE('now',"488days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Manaphy", 1, DATE('now',"489days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Darkrai", "dark", DATE('now',"490days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Shaymin", 1, DATE('now',"491days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Arceus", 1, DATE('now',"492days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Victini", 1, "psychic", DATE('now',"493days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Snivy", 1, DATE('now',"494days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Servine", 1, DATE('now',"495days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Serperior", 1, DATE('now',"496days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Tepig", 1, DATE('now',"497days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Pignite", 1, "fighting", DATE('now',"498days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Emboar", 1, "fighting", DATE('now',"499days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Oshawott", 1, DATE('now',"500days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Dewott", 1, DATE('now',"501days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Samurott", 1, DATE('now',"502days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Patrat", 1, DATE('now',"503days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Watchog", 1, DATE('now',"504days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lillipup", 1, DATE('now',"505days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Herdier", 1, DATE('now',"506days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Stoutland", 1, DATE('now',"507days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Purrloin", "dark", DATE('now',"508days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Liepard", "dark", DATE('now',"509days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Pansage", 1, DATE('now',"510days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Simisage", 1, DATE('now',"511days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Pansear", 1, DATE('now',"512days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Simisear", 1, DATE('now',"513days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Panpour", 1, DATE('now',"514days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Simipour", 1, DATE('now',"515days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Munna", "psychic", DATE('now',"516days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Musharna", "psychic", DATE('now',"517days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidove", 1, 1, DATE('now',"518days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Tranquill", 1, 1, DATE('now',"519days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Unfezant", 1, 1, DATE('now',"520days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Blitzle", 1, DATE('now',"521days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Zebstrika", 1, DATE('now',"522days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Roggenrola", 1, DATE('now',"523days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Boldore", 1, DATE('now',"524days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Gigalith", 1, DATE('now',"525days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Woobat", 1, "psychic", DATE('now',"526days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Swoobat", 1, "psychic", DATE('now',"527days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Drilbur", 1, DATE('now',"528days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Excadrill", 1, "steel", DATE('now',"529days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Audino", 1, DATE('now',"530days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Timburr", "fighting", DATE('now',"531days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gurdurr", "fighting", DATE('now',"532days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Conkeldurr", "fighting", DATE('now',"533days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Tympole", 1, DATE('now',"534days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Palpitoad", 1, 1, DATE('now',"535days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Seismitoad", 1, 1, DATE('now',"536days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Throh", "fighting", DATE('now',"537days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sawk", "fighting", DATE('now',"538days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Sewaddle", 1, 1, DATE('now',"539days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Swadloon", 1, 1, DATE('now',"540days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Leavanny", 1, 1, DATE('now',"541days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Venipede", 1, 1, DATE('now',"542days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Whirlipede", 1, 1, DATE('now',"543days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Scolipede", 1, 1, DATE('now',"544days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Cottonee", 1, "fairy", DATE('now',"545days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Whimsicott", 1, "fairy", DATE('now',"546days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Petilil", 1, DATE('now',"547days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Lilligant", 1, DATE('now',"548days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Basculin", 1, DATE('now',"549days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Sandile", 1, "dark", DATE('now',"550days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Krokorok", 1, "dark", DATE('now',"551days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Krookodile", 1, "dark", DATE('now',"552days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Darumaka", 1, DATE('now',"553days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Darmanitan", 1, DATE('now',"554days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Maractus", 1, DATE('now',"555days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, rock, date) VALUES ("Dwebble", 1, 1, DATE('now',"556days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, rock, date) VALUES ("Crustle", 1, 1, DATE('now',"557days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Scraggy", "darkfighting", DATE('now',"558days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Scrafty", "darkfighting", DATE('now',"559days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Sigilyph", 1, "psychic", DATE('now',"560days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Yamask", "ghost", DATE('now',"561days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cofagrigus", "ghost", DATE('now',"562days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Tirtouga", 1, 1, DATE('now',"563days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Carracosta", 1, 1, DATE('now',"564days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Archen", 1, 1, DATE('now',"565days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Archeops", 1, 1, DATE('now',"566days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Trubbish", 1, DATE('now',"567days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Garbodor", 1, DATE('now',"568days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Zorua", "dark", DATE('now',"569days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Zoroark", "dark", DATE('now',"570days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Minccino", 1, DATE('now',"571days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Cinccino", 1, DATE('now',"572days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gothita", "psychic", DATE('now',"573days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gothorita", "psychic", DATE('now',"574days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gothitelle", "psychic", DATE('now',"575days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Solosis", "psychic", DATE('now',"576days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Duosion", "psychic", DATE('now',"577days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Reuniclus", "psychic", DATE('now',"578days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Ducklett", 1, 1, DATE('now',"579days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Swanna", 1, 1, DATE('now',"580days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Vanillite", "ice", DATE('now',"581days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Vanillish", "ice", DATE('now',"582days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Vanilluxe", "ice", DATE('now',"583days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, grass, date) VALUES ("Deerling", 1, 1, DATE('now',"584days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, grass, date) VALUES ("Sawsbuck", 1, 1, DATE('now',"585days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, flying, date) VALUES ("Emolga", 1, 1, DATE('now',"586days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Karrablast", 1, DATE('now',"587days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Escavalier", 1, "steel", DATE('now',"588days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Foongus", 1, 1, DATE('now',"589days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Amoonguss", 1, 1, DATE('now',"590days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Frillish", 1, "ghost", DATE('now',"591days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Jellicent", 1, "ghost", DATE('now',"592days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Alomomola", 1, DATE('now',"593days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Joltik", 1, 1, DATE('now',"594days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Galvantula", 1, 1, DATE('now',"595days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Ferroseed", 1, "steel", DATE('now',"596days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Ferrothorn", 1, "steel", DATE('now',"597days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klink", "steel", DATE('now',"598days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klang", "steel", DATE('now',"599days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klinklang", "steel", DATE('now',"600days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Tynamo", 1, DATE('now',"601days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Eelektrik", 1, DATE('now',"602days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Eelektross", 1, DATE('now',"603days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Elgyem", "psychic", DATE('now',"604days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Beheeyem", "psychic", DATE('now',"605days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Litwick", 1, "ghost", DATE('now',"606days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Lampent", 1, "ghost", DATE('now',"607days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Chandelure", 1, "ghost", DATE('now',"608days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Axew", "dragon", DATE('now',"609days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Fraxure", "dragon", DATE('now',"610days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Haxorus", "dragon", DATE('now',"611days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cubchoo", "ice", DATE('now',"612days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Beartic", "ice", DATE('now',"613days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cryogonal", "ice", DATE('now',"614days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Shelmet", 1, DATE('now',"615days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Accelgor", 1, DATE('now',"616days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, electric, date) VALUES ("Stunfisk", 1, 1, DATE('now',"617days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mienfoo", "fighting", DATE('now',"618days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mienshao", "fighting", DATE('now',"619days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Druddigon", "dragon", DATE('now',"620days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Golett", 1, "ghost", DATE('now',"621days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Golurk", 1, "ghost", DATE('now',"622days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Pawniard", "darksteel", DATE('now',"623days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bisharp", "darksteel", DATE('now',"624days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Bouffalant", 1, DATE('now',"625days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Rufflet", 1, 1, DATE('now',"626days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Braviary", 1, 1, DATE('now',"627days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Vullaby", 1, "dark", DATE('now',"628days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Mandibuzz", 1, "dark", DATE('now',"629days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Heatmor", 1, DATE('now',"630days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Durant", 1, "steel", DATE('now',"631days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Deino", "darkdragon", DATE('now',"632days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Zweilous", "darkdragon", DATE('now',"633days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hydreigon", "darkdragon", DATE('now',"634days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, fire, date) VALUES ("Larvesta", 1, 1, DATE('now',"635days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, fire, date) VALUES ("Volcarona", 1, 1, DATE('now',"636days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cobalion", "steelfighting", DATE('now',"637days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Terrakion", 1, "fighting", DATE('now',"638days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Virizion", 1, "fighting", DATE('now',"639days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, date) VALUES ("Tornadus", 1, DATE('now',"640days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, flying, date) VALUES ("Thundurus", 1, 1, DATE('now',"641days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Reshiram", 1, "dragon", DATE('now',"642days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Zekrom", 1, "dragon", DATE('now',"643days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, flying, date) VALUES ("Landorus", 1, 1, DATE('now',"644days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kyurem", "dragonice", DATE('now',"645days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Keldeo", 1, "fighting", DATE('now',"646days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Meloetta", 1, "psychic", DATE('now',"647days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Genesect", 1, "steel", DATE('now',"648days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Chespin", 1, DATE('now',"649days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Quilladin", 1, DATE('now',"650days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Chesnaught", 1, "fighting", DATE('now',"651days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Fennekin", 1, DATE('now',"652days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Braixen", 1, DATE('now',"653days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Delphox", 1, "psychic", DATE('now',"654days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Froakie", 1, DATE('now',"655days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Frogadier", 1, DATE('now',"656days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Greninja", 1, "dark", DATE('now',"657days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Bunnelby", 1, DATE('now',"658days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, ground, date) VALUES ("Diggersby", 1, 1, DATE('now',"659days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Fletchling", 1, 1, DATE('now',"660days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Fletchinder", 1, 1, DATE('now',"661days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Talonflame", 1, 1, DATE('now',"662days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Scatterbug", 1, DATE('now',"663days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Spewpa", 1, DATE('now',"664days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Vivillon", 1, 1, DATE('now',"665days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, normal, date) VALUES ("Litleo", 1, 1, DATE('now',"666days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, normal, date) VALUES ("Pyroar", 1, 1, DATE('now',"667days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Flabébé", "fairy", DATE('now',"668days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Floette", "fairy", DATE('now',"669days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Florges", "fairy", DATE('now',"670days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Skiddo", 1, DATE('now',"671days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Gogoat", 1, DATE('now',"672days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Pancham", "fighting", DATE('now',"673days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Pangoro", "fightingdark", DATE('now',"674days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Furfrou", 1, DATE('now',"675days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Espurr", "psychic", DATE('now',"676days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Meowstic", "psychic", DATE('now',"677days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Honedge", "steelghost", DATE('now',"678days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Doublade", "steelghost", DATE('now',"679days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Aegislash", "steelghost", DATE('now',"680days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Spritzee", "fairy", DATE('now',"681days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Aromatisse", "fairy", DATE('now',"682days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Swirlix", "fairy", DATE('now',"683days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Slurpuff", "fairy", DATE('now',"684days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Inkay", "darkpsychic", DATE('now',"685days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Malamar", "darkpsychic", DATE('now',"686days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Binacle", 1, 1, DATE('now',"687days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Barbaracle", 1, 1, DATE('now',"688days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, water, date) VALUES ("Skrelp", 1, 1, DATE('now',"689days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Dragalge", 1, "dragon", DATE('now',"690days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Clauncher", 1, DATE('now',"691days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Clawitzer", 1, DATE('now',"692days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, normal, date) VALUES ("Helioptile", 1, 1, DATE('now',"693days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, normal, date) VALUES ("Heliolisk", 1, 1, DATE('now',"694days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Tyrunt", 1, "dragon", DATE('now',"695days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Tyrantrum", 1, "dragon", DATE('now',"696days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Amaura", 1, "ice", DATE('now',"697days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Aurorus", 1, "ice", DATE('now',"698days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sylveon", "fairy", DATE('now',"699days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Hawlucha", 1, "fighting", DATE('now',"700days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Dedenne", 1, "fairy", DATE('now',"701days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Carbink", 1, "fairy", DATE('now',"702days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Goomy", "dragon", DATE('now',"703days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sliggoo", "dragon", DATE('now',"704days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Goodra", "dragon", DATE('now',"705days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klefki", "steelfairy", DATE('now',"706days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Phantump", 1, "ghost", DATE('now',"707days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Trevenant", 1, "ghost", DATE('now',"708days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Pumpkaboo", 1, "ghost", DATE('now',"709days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Gourgeist", 1, "ghost", DATE('now',"710days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bergmite", "ice", DATE('now',"711days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Avalugg", "ice", DATE('now',"712days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Noibat", 1, "dragon", DATE('now',"713days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Noivern", 1, "dragon", DATE('now',"714days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Xerneas", "fairy", DATE('now',"715days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Yveltal", 1, "dark", DATE('now',"716days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Zygarde", 1, "dragon", DATE('now',"717days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Diancie", 1, "fairy", DATE('now',"718days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hoopa", "psychicghost", DATE('now',"719days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, water, date) VALUES ("Volcanion", 1, 1, DATE('now',"720days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Rowlet", 1, 1, DATE('now',"721days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Dartrix", 1, 1, DATE('now',"722days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Decidueye", 1, "ghost", DATE('now',"723days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Litten", 1, DATE('now',"724days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Torracat", 1, DATE('now',"725days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Incineroar", 1, "dark", DATE('now',"726days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Popplio", 1, DATE('now',"727days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Brionne", 1, DATE('now',"728days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Primarina", 1, "fairy", DATE('now',"729days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pikipek", 1, 1, DATE('now',"730days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Trumbeak", 1, 1, DATE('now',"731days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Toucannon", 1, 1, DATE('now',"732days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Yungoos", 1, DATE('now',"733days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Gumshoos", 1, DATE('now',"734days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Grubbin", 1, DATE('now',"735days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Charjabug", 1, 1, DATE('now',"736days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Vikavolt", 1, 1, DATE('now',"737days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Crabrawler", "fighting", DATE('now',"738days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Crabominable", "fightingice", DATE('now',"739days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Oricorio", 1, 1, DATE('now',"740days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Cutiefly", 1, "fairy", DATE('now',"741days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Ribombee", 1, "fairy", DATE('now',"742days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Rockruff", 1, DATE('now',"743days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Lycanroc", 1, DATE('now',"744days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wishiwashi", 1, DATE('now',"745days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, water, date) VALUES ("Mareanie", 1, 1, DATE('now',"746days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, water, date) VALUES ("Toxapex", 1, 1, DATE('now',"747days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Mudbray", 1, DATE('now',"748days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Mudsdale", 1, DATE('now',"749days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, bug, date) VALUES ("Dewpider", 1, 1, DATE('now',"750days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, bug, date) VALUES ("Araquanid", 1, 1, DATE('now',"751days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Fomantis", 1, DATE('now',"752days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Lurantis", 1, DATE('now',"753days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Morelull", 1, "fairy", DATE('now',"754days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Shiinotic", 1, "fairy", DATE('now',"755days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, fire, date) VALUES ("Salandit", 1, 1, DATE('now',"756days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, fire, date) VALUES ("Salazzle", 1, 1, DATE('now',"757days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Stufful", 1, "fighting", DATE('now',"758days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Bewear", 1, "fighting", DATE('now',"759days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Bounsweet", 1, DATE('now',"760days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Steenee", 1, DATE('now',"761days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Tsareena", 1, DATE('now',"762days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Comfey", "fairy", DATE('now',"763days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Oranguru", 1, "psychic", DATE('now',"764days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Passimian", "fighting", DATE('now',"765days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, water, date) VALUES ("Wimpod", 1, 1, DATE('now',"766days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, water, date) VALUES ("Golisopod", 1, 1, DATE('now',"767days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Sandygast", 1, "ghost", DATE('now',"768days"))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Palossand", 1, "ghost", DATE('now',"769days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Pyukumuku", 1, DATE('now',"770days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Type: Null", 1, DATE('now',"771days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Silvally", 1, DATE('now',"772days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Minior", 1, 1, DATE('now',"773days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Komala", 1, DATE('now',"774days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Turtonator", 1, "dragon", DATE('now',"775days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Togedemaru", 1, "steel", DATE('now',"776days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mimikyu", "ghostfairy", DATE('now',"777days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Bruxish", 1, "psychic", DATE('now',"778days"))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Drampa", 1, "dragon", DATE('now',"779days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Dhelmise", 1, "ghost", DATE('now',"780days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Jangmo-o", "dragon", DATE('now',"781days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hakamo-o", "dragonfighting", DATE('now',"782days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kommo-o", "dragonfighting", DATE('now',"783days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Tapu Koko", 1, "fairy", DATE('now',"784days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Tapu Lele", "psychicfairy", DATE('now',"785days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Tapu Bulu", 1, "fairy", DATE('now',"786days"))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Tapu Fini", 1, "fairy", DATE('now',"787days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cosmog", "psychic", DATE('now',"788days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cosmoem", "psychic", DATE('now',"789days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Solgaleo", "psychicsteel", DATE('now',"790days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Lunala", "psychicghost", DATE('now',"791days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, poison, date) VALUES ("Nihilego", 1, 1, DATE('now',"792days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Buzzwole", 1, "fighting", DATE('now',"793days"))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Pheromosa", 1, "fighting", DATE('now',"794days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Xurkitree", 1, DATE('now',"795days"))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Celesteela", 1, "steel", DATE('now',"796days"))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Kartana", 1, "steel", DATE('now',"797days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Guzzlord", "darkdragon", DATE('now',"798days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Necrozma", "psychic", DATE('now',"799days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Magearna", "steelfairy", DATE('now',"800days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Marshadow", "fightingghost", DATE('now',"801days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Poipole", 1, DATE('now',"802days"))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Naganadel", 1, "dragon", DATE('now',"803days"))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Stakataka", 1, "steel", DATE('now',"804days"))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Blacephalon", 1, "ghost", DATE('now',"805days"))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Zeraora", 1, DATE('now',"806days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Meltan", "steel", DATE('now',"807days"))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Melmetal", "steel", DATE('now',"808days"))
-----------------------

In [5]:
import requests
import sqlite3

num = 0
db = sqlite3.connect('laba_pokemones.db')
cur = db.cursor()
cur.execute('''
CREATE TABLE IF NOT EXISTS laba (
id INTEGER PRIMARY KEY,
name TEXT NOT NULL DEFAULT "nonamePokemon",
fire INTEGER DEFAULT 0,
poison INTEGER DEFAULT 0,
grass INTEGER DEFAULT 0,
flying INTEGER DEFAULT 0,
water INTEGER DEFAULT 0,
bug INTEGER DEFAULT 0,
normal INTEGER DEFAULT 0,
electric INTEGER DEFAULT 0,
rock INTEGER DEFAULT 0,
ground INTEGER DEFAULT 0,
add_skill TEXT DEFAULT "0",
date TEXT
)
''')

db.close()

In [9]:
request = requests.get('https://raw.githubusercontent.com/NumminorihSF/json-pokemon/master/data.json')
result = request.json()
def parsing_skills(info):
    skill = ['fire','poison', 'grass', 'flying', 'water', 'bug', 'normal', 'electric', 'rock', 'ground']
    txt_result = []
    add_skill = []
    for sk in info['typeList']:
        if sk.lower() in skill:
            txt_result.append(sk.lower())
        else:
            add_skill.append(sk.lower())
        
    return [txt_result, add_skill]


def get_request_sql(pokemon_save):
    req1 = 'INSERT INTO laba(name'
    req2 = ', date) VALUES ('+ f'\"{pokemon_save["name"]}\"'
    
    pars_skill = parsing_skills(pokemon_save)
    
    for elem in pars_skill[0]:
        req1 += ', '+elem
        req2 +=', 1'

    if pars_skill[1]:
        req1 += ', add_skill'
        txt_skill = ' "'
        for elem in pars_skill[1]:
            txt_skill += elem
        txt_skill += '"'
        req2 += ',' + txt_skill
        
    return req1 + req2 + ', DATE(\'now\','+f'\'+{num} days\'' + '))'


def save_db(response_sql):
    import sqlite3
    db = sqlite3.connect('laba_pokemones.db')
    cur = db.cursor()
    print()
    print('-----------------------')
    print(response_sql)
    print('-----------------------')
    cur.execute(response_sql)
    db.commit()
    db.close()
    
for i in range(len(result)):
    save_db(get_request_sql(result[i]))
    num += 1

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Bulbasaur", 1, 1, DATE('now','0 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Ivysaur", 1, 1, DATE('now','1 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Venusaur", 1, 1, DATE('now','2 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Charmander", 1, DATE('now','3 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Charmeleon", 1, DATE('now','4 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Charizard", 1, 1, DATE('now','5 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Squirtle", 1, DATE('now','6 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wartortle", 1, DATE('now','7 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Blastoise", 1, DATE('now','8 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Caterpie", 1, DATE('now','9 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Metapod", 1, DATE('now','10 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Butterfree", 1, 1, DATE('now','11 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Weedle", 1, 1, DATE('now','12 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Kakuna", 1, 1, DATE('now','13 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Beedrill", 1, 1, DATE('now','14 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidgey", 1, 1, DATE('now','15 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidgeotto", 1, 1, DATE('now','16 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidgeot", 1, 1, DATE('now','17 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Rattata", 1, DATE('now','18 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Raticate", 1, DATE('now','19 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Spearow", 1, 1, DATE('now','20 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Fearow", 1, 1, DATE('now','21 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Ekans", 1, DATE('now','22 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Arbok", 1, DATE('now','23 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Pikachu", 1, DATE('now','24 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Raichu", 1, DATE('now','25 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Sandshrew", 1, DATE('now','26 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Sandslash", 1, DATE('now','27 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidoran♀", 1, DATE('now','28 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidorina", 1, DATE('now','29 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, ground, date) VALUES ("Nidoqueen", 1, 1, DATE('now','30 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidoran♂", 1, DATE('now','31 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Nidorino", 1, DATE('now','32 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, ground, date) VALUES ("Nidoking", 1, 1, DATE('now','33 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Clefairy", "fairy", DATE('now','34 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Clefable", "fairy", DATE('now','35 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Vulpix", 1, DATE('now','36 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Ninetales", 1, DATE('now','37 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Jigglypuff", 1, "fairy", DATE('now','38 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Wigglytuff", 1, "fairy", DATE('now','39 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, flying, date) VALUES ("Zubat", 1, 1, DATE('now','40 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, flying, date) VALUES ("Golbat", 1, 1, DATE('now','41 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Oddish", 1, 1, DATE('now','42 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Gloom", 1, 1, DATE('now','43 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Vileplume", 1, 1, DATE('now','44 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Paras", 1, 1, DATE('now','45 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Parasect", 1, 1, DATE('now','46 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Venonat", 1, 1, DATE('now','47 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Venomoth", 1, 1, DATE('now','48 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Diglett", 1, DATE('now','49 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Dugtrio", 1, DATE('now','50 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Meowth", 1, DATE('now','51 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Persian", 1, DATE('now','52 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Psyduck", 1, DATE('now','53 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Golduck", 1, DATE('now','54 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mankey", "fighting", DATE('now','55 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Primeape", "fighting", DATE('now','56 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Growlithe", 1, DATE('now','57 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Arcanine", 1, DATE('now','58 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Poliwag", 1, DATE('now','59 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Poliwhirl", 1, DATE('now','60 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Poliwrath", 1, "fighting", DATE('now','61 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Abra", "psychic", DATE('now','62 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kadabra", "psychic", DATE('now','63 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Alakazam", "psychic", DATE('now','64 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Machop", "fighting", DATE('now','65 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Machoke", "fighting", DATE('now','66 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Machamp", "fighting", DATE('now','67 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Bellsprout", 1, 1, DATE('now','68 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Weepinbell", 1, 1, DATE('now','69 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Victreebel", 1, 1, DATE('now','70 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, poison, date) VALUES ("Tentacool", 1, 1, DATE('now','71 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, poison, date) VALUES ("Tentacruel", 1, 1, DATE('now','72 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Geodude", 1, 1, DATE('now','73 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Graveler", 1, 1, DATE('now','74 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Golem", 1, 1, DATE('now','75 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Ponyta", 1, DATE('now','76 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Rapidash", 1, DATE('now','77 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Slowpoke", 1, "psychic", DATE('now','78 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Slowbro", 1, "psychic", DATE('now','79 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Magnemite", 1, "steel", DATE('now','80 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Magneton", 1, "steel", DATE('now','81 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Farfetch'd", 1, 1, DATE('now','82 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Doduo", 1, 1, DATE('now','83 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Dodrio", 1, 1, DATE('now','84 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Seel", 1, DATE('now','85 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Dewgong", 1, "ice", DATE('now','86 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Grimer", 1, DATE('now','87 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Muk", 1, DATE('now','88 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Shellder", 1, DATE('now','89 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Cloyster", 1, "ice", DATE('now','90 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Gastly", 1, "ghost", DATE('now','91 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Haunter", 1, "ghost", DATE('now','92 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Gengar", 1, "ghost", DATE('now','93 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Onix", 1, 1, DATE('now','94 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Drowzee", "psychic", DATE('now','95 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hypno", "psychic", DATE('now','96 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Krabby", 1, DATE('now','97 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Kingler", 1, DATE('now','98 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Voltorb", 1, DATE('now','99 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electrode", 1, DATE('now','100 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Exeggcute", 1, "psychic", DATE('now','101 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Exeggutor", 1, "psychic", DATE('now','102 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Cubone", 1, DATE('now','103 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Marowak", 1, DATE('now','104 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hitmonlee", "fighting", DATE('now','105 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hitmonchan", "fighting", DATE('now','106 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lickitung", 1, DATE('now','107 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Koffing", 1, DATE('now','108 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Weezing", 1, DATE('now','109 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, rock, date) VALUES ("Rhyhorn", 1, 1, DATE('now','110 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, rock, date) VALUES ("Rhydon", 1, 1, DATE('now','111 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Chansey", 1, DATE('now','112 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Tangela", 1, DATE('now','113 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Kangaskhan", 1, DATE('now','114 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Horsea", 1, DATE('now','115 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Seadra", 1, DATE('now','116 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Goldeen", 1, DATE('now','117 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Seaking", 1, DATE('now','118 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Staryu", 1, DATE('now','119 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Starmie", 1, "psychic", DATE('now','120 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mr. Mime", "psychicfairy", DATE('now','121 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Scyther", 1, 1, DATE('now','122 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Jynx", "icepsychic", DATE('now','123 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electabuzz", 1, DATE('now','124 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Magmar", 1, DATE('now','125 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Pinsir", 1, DATE('now','126 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Tauros", 1, DATE('now','127 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Magikarp", 1, DATE('now','128 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Gyarados", 1, 1, DATE('now','129 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Lapras", 1, "ice", DATE('now','130 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Ditto", 1, DATE('now','131 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Eevee", 1, DATE('now','132 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Vaporeon", 1, DATE('now','133 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Jolteon", 1, DATE('now','134 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Flareon", 1, DATE('now','135 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Porygon", 1, DATE('now','136 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Omanyte", 1, 1, DATE('now','137 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Omastar", 1, 1, DATE('now','138 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Kabuto", 1, 1, DATE('now','139 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Kabutops", 1, 1, DATE('now','140 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Aerodactyl", 1, 1, DATE('now','141 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Snorlax", 1, DATE('now','142 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Articuno", 1, "ice", DATE('now','143 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, flying, date) VALUES ("Zapdos", 1, 1, DATE('now','144 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Moltres", 1, 1, DATE('now','145 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dratini", "dragon", DATE('now','146 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dragonair", "dragon", DATE('now','147 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Dragonite", 1, "dragon", DATE('now','148 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mewtwo", "psychic", DATE('now','149 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mew", "psychic", DATE('now','150 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Chikorita", 1, DATE('now','151 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Bayleef", 1, DATE('now','152 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Meganium", 1, DATE('now','153 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Cyndaquil", 1, DATE('now','154 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Quilava", 1, DATE('now','155 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Typhlosion", 1, DATE('now','156 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Totodile", 1, DATE('now','157 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Croconaw", 1, DATE('now','158 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Feraligatr", 1, DATE('now','159 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Sentret", 1, DATE('now','160 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Furret", 1, DATE('now','161 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Hoothoot", 1, 1, DATE('now','162 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Noctowl", 1, 1, DATE('now','163 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Ledyba", 1, 1, DATE('now','164 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Ledian", 1, 1, DATE('now','165 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Spinarak", 1, 1, DATE('now','166 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Ariados", 1, 1, DATE('now','167 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, flying, date) VALUES ("Crobat", 1, 1, DATE('now','168 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, electric, date) VALUES ("Chinchou", 1, 1, DATE('now','169 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, electric, date) VALUES ("Lanturn", 1, 1, DATE('now','170 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Pichu", 1, DATE('now','171 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cleffa", "fairy", DATE('now','172 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Igglybuff", 1, "fairy", DATE('now','173 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Togepi", "fairy", DATE('now','174 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Togetic", 1, "fairy", DATE('now','175 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Natu", 1, "psychic", DATE('now','176 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Xatu", 1, "psychic", DATE('now','177 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Mareep", 1, DATE('now','178 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Flaaffy", 1, DATE('now','179 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Ampharos", 1, DATE('now','180 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Bellossom", 1, DATE('now','181 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Marill", 1, "fairy", DATE('now','182 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Azumarill", 1, "fairy", DATE('now','183 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Sudowoodo", 1, DATE('now','184 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Politoed", 1, DATE('now','185 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Hoppip", 1, 1, DATE('now','186 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Skiploom", 1, 1, DATE('now','187 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Jumpluff", 1, 1, DATE('now','188 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Aipom", 1, DATE('now','189 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Sunkern", 1, DATE('now','190 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Sunflora", 1, DATE('now','191 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Yanma", 1, 1, DATE('now','192 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Wooper", 1, 1, DATE('now','193 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Quagsire", 1, 1, DATE('now','194 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Espeon", "psychic", DATE('now','195 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Umbreon", "dark", DATE('now','196 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Murkrow", 1, "dark", DATE('now','197 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Slowking", 1, "psychic", DATE('now','198 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Misdreavus", "ghost", DATE('now','199 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Unown", "psychic", DATE('now','200 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Wobbuffet", "psychic", DATE('now','201 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Girafarig", 1, "psychic", DATE('now','202 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Pineco", 1, DATE('now','203 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Forretress", 1, "steel", DATE('now','204 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Dunsparce", 1, DATE('now','205 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, flying, date) VALUES ("Gligar", 1, 1, DATE('now','206 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Steelix", 1, "steel", DATE('now','207 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Snubbull", "fairy", DATE('now','208 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Granbull", "fairy", DATE('now','209 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, poison, date) VALUES ("Qwilfish", 1, 1, DATE('now','210 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Scizor", 1, "steel", DATE('now','211 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, rock, date) VALUES ("Shuckle", 1, 1, DATE('now','212 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Heracross", 1, "fighting", DATE('now','213 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sneasel", "darkice", DATE('now','214 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Teddiursa", 1, DATE('now','215 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Ursaring", 1, DATE('now','216 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Slugma", 1, DATE('now','217 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, rock, date) VALUES ("Magcargo", 1, 1, DATE('now','218 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Swinub", 1, "ice", DATE('now','219 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Piloswine", 1, "ice", DATE('now','220 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Corsola", 1, 1, DATE('now','221 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Remoraid", 1, DATE('now','222 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Octillery", 1, DATE('now','223 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Delibird", 1, "ice", DATE('now','224 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Mantine", 1, 1, DATE('now','225 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Skarmory", 1, "steel", DATE('now','226 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Houndour", 1, "dark", DATE('now','227 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Houndoom", 1, "dark", DATE('now','228 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Kingdra", 1, "dragon", DATE('now','229 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Phanpy", 1, DATE('now','230 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Donphan", 1, DATE('now','231 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Porygon2", 1, DATE('now','232 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Stantler", 1, DATE('now','233 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Smeargle", 1, DATE('now','234 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Tyrogue", "fighting", DATE('now','235 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hitmontop", "fighting", DATE('now','236 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Smoochum", "icepsychic", DATE('now','237 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Elekid", 1, DATE('now','238 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Magby", 1, DATE('now','239 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Miltank", 1, DATE('now','240 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Blissey", 1, DATE('now','241 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Raikou", 1, DATE('now','242 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Entei", 1, DATE('now','243 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Suicune", 1, DATE('now','244 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Larvitar", 1, 1, DATE('now','245 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, ground, date) VALUES ("Pupitar", 1, 1, DATE('now','246 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Tyranitar", 1, "dark", DATE('now','247 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Lugia", 1, "psychic", DATE('now','248 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Ho-oh", 1, 1, DATE('now','249 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Celebi", 1, "psychic", DATE('now','250 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Treecko", 1, DATE('now','251 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Grovyle", 1, DATE('now','252 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Sceptile", 1, DATE('now','253 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Torchic", 1, DATE('now','254 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Combusken", 1, "fighting", DATE('now','255 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Blaziken", 1, "fighting", DATE('now','256 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Mudkip", 1, DATE('now','257 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Marshtomp", 1, 1, DATE('now','258 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Swampert", 1, 1, DATE('now','259 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Poochyena", "dark", DATE('now','260 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mightyena", "dark", DATE('now','261 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Zigzagoon", 1, DATE('now','262 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Linoone", 1, DATE('now','263 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Wurmple", 1, DATE('now','264 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Silcoon", 1, DATE('now','265 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Beautifly", 1, 1, DATE('now','266 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Cascoon", 1, DATE('now','267 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Dustox", 1, 1, DATE('now','268 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, grass, date) VALUES ("Lotad", 1, 1, DATE('now','269 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, grass, date) VALUES ("Lombre", 1, 1, DATE('now','270 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, grass, date) VALUES ("Ludicolo", 1, 1, DATE('now','271 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Seedot", 1, DATE('now','272 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Nuzleaf", 1, "dark", DATE('now','273 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Shiftry", 1, "dark", DATE('now','274 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Taillow", 1, 1, DATE('now','275 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Swellow", 1, 1, DATE('now','276 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Wingull", 1, 1, DATE('now','277 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Pelipper", 1, 1, DATE('now','278 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Ralts", "psychicfairy", DATE('now','279 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kirlia", "psychicfairy", DATE('now','280 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gardevoir", "psychicfairy", DATE('now','281 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, water, date) VALUES ("Surskit", 1, 1, DATE('now','282 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Masquerain", 1, 1, DATE('now','283 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Shroomish", 1, DATE('now','284 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Breloom", 1, "fighting", DATE('now','285 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Slakoth", 1, DATE('now','286 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Vigoroth", 1, DATE('now','287 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Slaking", 1, DATE('now','288 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, ground, date) VALUES ("Nincada", 1, 1, DATE('now','289 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Ninjask", 1, 1, DATE('now','290 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Shedinja", 1, "ghost", DATE('now','291 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Whismur", 1, DATE('now','292 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Loudred", 1, DATE('now','293 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Exploud", 1, DATE('now','294 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Makuhita", "fighting", DATE('now','295 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hariyama", "fighting", DATE('now','296 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Azurill", 1, "fairy", DATE('now','297 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Nosepass", 1, DATE('now','298 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Skitty", 1, DATE('now','299 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Delcatty", 1, DATE('now','300 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sableye", "darkghost", DATE('now','301 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mawile", "steelfairy", DATE('now','302 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Aron", 1, "steel", DATE('now','303 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Lairon", 1, "steel", DATE('now','304 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Aggron", 1, "steel", DATE('now','305 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Meditite", "fightingpsychic", DATE('now','306 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Medicham", "fightingpsychic", DATE('now','307 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electrike", 1, DATE('now','308 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Manectric", 1, DATE('now','309 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Plusle", 1, DATE('now','310 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Minun", 1, DATE('now','311 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Volbeat", 1, DATE('now','312 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Illumise", 1, DATE('now','313 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Roselia", 1, 1, DATE('now','314 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Gulpin", 1, DATE('now','315 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Swalot", 1, DATE('now','316 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Carvanha", 1, "dark", DATE('now','317 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Sharpedo", 1, "dark", DATE('now','318 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wailmer", 1, DATE('now','319 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wailord", 1, DATE('now','320 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, ground, date) VALUES ("Numel", 1, 1, DATE('now','321 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, ground, date) VALUES ("Camerupt", 1, 1, DATE('now','322 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Torkoal", 1, DATE('now','323 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Spoink", "psychic", DATE('now','324 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Grumpig", "psychic", DATE('now','325 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Spinda", 1, DATE('now','326 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Trapinch", 1, DATE('now','327 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Vibrava", 1, "dragon", DATE('now','328 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Flygon", 1, "dragon", DATE('now','329 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Cacnea", 1, DATE('now','330 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Cacturne", 1, "dark", DATE('now','331 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Swablu", 1, 1, DATE('now','332 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Altaria", 1, "dragon", DATE('now','333 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Zangoose", 1, DATE('now','334 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Seviper", 1, DATE('now','335 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Lunatone", 1, "psychic", DATE('now','336 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Solrock", 1, "psychic", DATE('now','337 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Barboach", 1, 1, DATE('now','338 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Whiscash", 1, 1, DATE('now','339 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Corphish", 1, DATE('now','340 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Crawdaunt", 1, "dark", DATE('now','341 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Baltoy", 1, "psychic", DATE('now','342 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Claydol", 1, "psychic", DATE('now','343 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, grass, date) VALUES ("Lileep", 1, 1, DATE('now','344 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, grass, date) VALUES ("Cradily", 1, 1, DATE('now','345 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, bug, date) VALUES ("Anorith", 1, 1, DATE('now','346 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, bug, date) VALUES ("Armaldo", 1, 1, DATE('now','347 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Feebas", 1, DATE('now','348 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Milotic", 1, DATE('now','349 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Castform", 1, DATE('now','350 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Kecleon", 1, DATE('now','351 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Shuppet", "ghost", DATE('now','352 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Banette", "ghost", DATE('now','353 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Duskull", "ghost", DATE('now','354 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dusclops", "ghost", DATE('now','355 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Tropius", 1, 1, DATE('now','356 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Chimecho", "psychic", DATE('now','357 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Absol", "dark", DATE('now','358 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Wynaut", "psychic", DATE('now','359 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Snorunt", "ice", DATE('now','360 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Glalie", "ice", DATE('now','361 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Spheal", 1, "ice", DATE('now','362 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Sealeo", 1, "ice", DATE('now','363 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Walrein", 1, "ice", DATE('now','364 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Clamperl", 1, DATE('now','365 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Huntail", 1, DATE('now','366 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Gorebyss", 1, DATE('now','367 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Relicanth", 1, 1, DATE('now','368 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Luvdisc", 1, DATE('now','369 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bagon", "dragon", DATE('now','370 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Shelgon", "dragon", DATE('now','371 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Salamence", 1, "dragon", DATE('now','372 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Beldum", "steelpsychic", DATE('now','373 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Metang", "steelpsychic", DATE('now','374 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Metagross", "steelpsychic", DATE('now','375 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Regirock", 1, DATE('now','376 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Regice", "ice", DATE('now','377 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Registeel", "steel", DATE('now','378 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Latias", "dragonpsychic", DATE('now','379 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Latios", "dragonpsychic", DATE('now','380 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Kyogre", 1, DATE('now','381 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Groudon", 1, DATE('now','382 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Rayquaza", 1, "dragon", DATE('now','383 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Jirachi", "steelpsychic", DATE('now','384 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Deoxys", "psychic", DATE('now','385 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Turtwig", 1, DATE('now','386 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Grotle", 1, DATE('now','387 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, ground, date) VALUES ("Torterra", 1, 1, DATE('now','388 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Chimchar", 1, DATE('now','389 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Monferno", 1, "fighting", DATE('now','390 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Infernape", 1, "fighting", DATE('now','391 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Piplup", 1, DATE('now','392 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Prinplup", 1, DATE('now','393 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Empoleon", 1, "steel", DATE('now','394 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Starly", 1, 1, DATE('now','395 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Staravia", 1, 1, DATE('now','396 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Staraptor", 1, 1, DATE('now','397 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Bidoof", 1, DATE('now','398 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, water, date) VALUES ("Bibarel", 1, 1, DATE('now','399 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Kricketot", 1, DATE('now','400 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Kricketune", 1, DATE('now','401 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Shinx", 1, DATE('now','402 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Luxio", 1, DATE('now','403 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Luxray", 1, DATE('now','404 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Budew", 1, 1, DATE('now','405 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Roserade", 1, 1, DATE('now','406 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Cranidos", 1, DATE('now','407 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Rampardos", 1, DATE('now','408 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Shieldon", 1, "steel", DATE('now','409 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Bastiodon", 1, "steel", DATE('now','410 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Burmy", 1, DATE('now','411 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Wormadam", 1, 1, DATE('now','412 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Mothim", 1, 1, DATE('now','413 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Combee", 1, 1, DATE('now','414 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Vespiquen", 1, 1, DATE('now','415 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Pachirisu", 1, DATE('now','416 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Buizel", 1, DATE('now','417 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Floatzel", 1, DATE('now','418 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Cherubi", 1, DATE('now','419 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Cherrim", 1, DATE('now','420 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Shellos", 1, DATE('now','421 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Gastrodon", 1, 1, DATE('now','422 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Ambipom", 1, DATE('now','423 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Drifloon", 1, "ghost", DATE('now','424 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Drifblim", 1, "ghost", DATE('now','425 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Buneary", 1, DATE('now','426 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lopunny", 1, DATE('now','427 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mismagius", "ghost", DATE('now','428 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Honchkrow", 1, "dark", DATE('now','429 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Glameow", 1, DATE('now','430 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Purugly", 1, DATE('now','431 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Chingling", "psychic", DATE('now','432 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Stunky", 1, "dark", DATE('now','433 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Skuntank", 1, "dark", DATE('now','434 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bronzor", "steelpsychic", DATE('now','435 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bronzong", "steelpsychic", DATE('now','436 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Bonsly", 1, DATE('now','437 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mime Jr.", "psychicfairy", DATE('now','438 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Happiny", 1, DATE('now','439 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Chatot", 1, 1, DATE('now','440 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Spiritomb", "ghostdark", DATE('now','441 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Gible", 1, "dragon", DATE('now','442 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Gabite", 1, "dragon", DATE('now','443 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Garchomp", 1, "dragon", DATE('now','444 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Munchlax", 1, DATE('now','445 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Riolu", "fighting", DATE('now','446 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Lucario", "fightingsteel", DATE('now','447 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Hippopotas", 1, DATE('now','448 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Hippowdon", 1, DATE('now','449 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, bug, date) VALUES ("Skorupi", 1, 1, DATE('now','450 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Drapion", 1, "dark", DATE('now','451 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Croagunk", 1, "fighting", DATE('now','452 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Toxicroak", 1, "fighting", DATE('now','453 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Carnivine", 1, DATE('now','454 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Finneon", 1, DATE('now','455 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Lumineon", 1, DATE('now','456 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Mantyke", 1, 1, DATE('now','457 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Snover", 1, "ice", DATE('now','458 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Abomasnow", 1, "ice", DATE('now','459 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Weavile", "darkice", DATE('now','460 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Magnezone", 1, "steel", DATE('now','461 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lickilicky", 1, DATE('now','462 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, rock, date) VALUES ("Rhyperior", 1, 1, DATE('now','463 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Tangrowth", 1, DATE('now','464 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Electivire", 1, DATE('now','465 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Magmortar", 1, DATE('now','466 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Togekiss", 1, "fairy", DATE('now','467 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Yanmega", 1, 1, DATE('now','468 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Leafeon", 1, DATE('now','469 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Glaceon", "ice", DATE('now','470 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, flying, date) VALUES ("Gliscor", 1, 1, DATE('now','471 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Mamoswine", 1, "ice", DATE('now','472 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Porygon-Z", 1, DATE('now','473 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gallade", "psychicfighting", DATE('now','474 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Probopass", 1, "steel", DATE('now','475 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dusknoir", "ghost", DATE('now','476 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Froslass", "iceghost", DATE('now','477 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Rotom", 1, "ghost", DATE('now','478 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Uxie", "psychic", DATE('now','479 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mesprit", "psychic", DATE('now','480 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Azelf", "psychic", DATE('now','481 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Dialga", "steeldragon", DATE('now','482 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Palkia", 1, "dragon", DATE('now','483 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Heatran", 1, "steel", DATE('now','484 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Regigigas", 1, DATE('now','485 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Giratina", "ghostdragon", DATE('now','486 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cresselia", "psychic", DATE('now','487 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Phione", 1, DATE('now','488 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Manaphy", 1, DATE('now','489 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Darkrai", "dark", DATE('now','490 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Shaymin", 1, DATE('now','491 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Arceus", 1, DATE('now','492 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Victini", 1, "psychic", DATE('now','493 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Snivy", 1, DATE('now','494 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Servine", 1, DATE('now','495 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Serperior", 1, DATE('now','496 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Tepig", 1, DATE('now','497 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Pignite", 1, "fighting", DATE('now','498 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Emboar", 1, "fighting", DATE('now','499 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Oshawott", 1, DATE('now','500 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Dewott", 1, DATE('now','501 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Samurott", 1, DATE('now','502 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Patrat", 1, DATE('now','503 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Watchog", 1, DATE('now','504 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Lillipup", 1, DATE('now','505 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Herdier", 1, DATE('now','506 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Stoutland", 1, DATE('now','507 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Purrloin", "dark", DATE('now','508 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Liepard", "dark", DATE('now','509 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Pansage", 1, DATE('now','510 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Simisage", 1, DATE('now','511 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Pansear", 1, DATE('now','512 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Simisear", 1, DATE('now','513 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Panpour", 1, DATE('now','514 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Simipour", 1, DATE('now','515 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Munna", "psychic", DATE('now','516 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Musharna", "psychic", DATE('now','517 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pidove", 1, 1, DATE('now','518 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Tranquill", 1, 1, DATE('now','519 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Unfezant", 1, 1, DATE('now','520 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Blitzle", 1, DATE('now','521 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Zebstrika", 1, DATE('now','522 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Roggenrola", 1, DATE('now','523 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Boldore", 1, DATE('now','524 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Gigalith", 1, DATE('now','525 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Woobat", 1, "psychic", DATE('now','526 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Swoobat", 1, "psychic", DATE('now','527 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Drilbur", 1, DATE('now','528 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Excadrill", 1, "steel", DATE('now','529 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Audino", 1, DATE('now','530 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Timburr", "fighting", DATE('now','531 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gurdurr", "fighting", DATE('now','532 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Conkeldurr", "fighting", DATE('now','533 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Tympole", 1, DATE('now','534 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Palpitoad", 1, 1, DATE('now','535 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, ground, date) VALUES ("Seismitoad", 1, 1, DATE('now','536 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Throh", "fighting", DATE('now','537 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sawk", "fighting", DATE('now','538 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Sewaddle", 1, 1, DATE('now','539 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Swadloon", 1, 1, DATE('now','540 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, grass, date) VALUES ("Leavanny", 1, 1, DATE('now','541 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Venipede", 1, 1, DATE('now','542 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Whirlipede", 1, 1, DATE('now','543 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, poison, date) VALUES ("Scolipede", 1, 1, DATE('now','544 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Cottonee", 1, "fairy", DATE('now','545 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Whimsicott", 1, "fairy", DATE('now','546 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Petilil", 1, DATE('now','547 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Lilligant", 1, DATE('now','548 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Basculin", 1, DATE('now','549 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Sandile", 1, "dark", DATE('now','550 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Krokorok", 1, "dark", DATE('now','551 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Krookodile", 1, "dark", DATE('now','552 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Darumaka", 1, DATE('now','553 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Darmanitan", 1, DATE('now','554 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Maractus", 1, DATE('now','555 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, rock, date) VALUES ("Dwebble", 1, 1, DATE('now','556 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, rock, date) VALUES ("Crustle", 1, 1, DATE('now','557 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Scraggy", "darkfighting", DATE('now','558 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Scrafty", "darkfighting", DATE('now','559 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Sigilyph", 1, "psychic", DATE('now','560 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Yamask", "ghost", DATE('now','561 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cofagrigus", "ghost", DATE('now','562 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Tirtouga", 1, 1, DATE('now','563 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, rock, date) VALUES ("Carracosta", 1, 1, DATE('now','564 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Archen", 1, 1, DATE('now','565 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Archeops", 1, 1, DATE('now','566 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Trubbish", 1, DATE('now','567 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Garbodor", 1, DATE('now','568 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Zorua", "dark", DATE('now','569 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Zoroark", "dark", DATE('now','570 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Minccino", 1, DATE('now','571 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Cinccino", 1, DATE('now','572 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gothita", "psychic", DATE('now','573 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gothorita", "psychic", DATE('now','574 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Gothitelle", "psychic", DATE('now','575 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Solosis", "psychic", DATE('now','576 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Duosion", "psychic", DATE('now','577 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Reuniclus", "psychic", DATE('now','578 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Ducklett", 1, 1, DATE('now','579 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, flying, date) VALUES ("Swanna", 1, 1, DATE('now','580 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Vanillite", "ice", DATE('now','581 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Vanillish", "ice", DATE('now','582 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Vanilluxe", "ice", DATE('now','583 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, grass, date) VALUES ("Deerling", 1, 1, DATE('now','584 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, grass, date) VALUES ("Sawsbuck", 1, 1, DATE('now','585 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, flying, date) VALUES ("Emolga", 1, 1, DATE('now','586 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Karrablast", 1, DATE('now','587 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Escavalier", 1, "steel", DATE('now','588 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Foongus", 1, 1, DATE('now','589 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, poison, date) VALUES ("Amoonguss", 1, 1, DATE('now','590 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Frillish", 1, "ghost", DATE('now','591 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Jellicent", 1, "ghost", DATE('now','592 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Alomomola", 1, DATE('now','593 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Joltik", 1, 1, DATE('now','594 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Galvantula", 1, 1, DATE('now','595 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Ferroseed", 1, "steel", DATE('now','596 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Ferrothorn", 1, "steel", DATE('now','597 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klink", "steel", DATE('now','598 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klang", "steel", DATE('now','599 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klinklang", "steel", DATE('now','600 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Tynamo", 1, DATE('now','601 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Eelektrik", 1, DATE('now','602 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Eelektross", 1, DATE('now','603 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Elgyem", "psychic", DATE('now','604 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Beheeyem", "psychic", DATE('now','605 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Litwick", 1, "ghost", DATE('now','606 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Lampent", 1, "ghost", DATE('now','607 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Chandelure", 1, "ghost", DATE('now','608 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Axew", "dragon", DATE('now','609 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Fraxure", "dragon", DATE('now','610 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Haxorus", "dragon", DATE('now','611 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cubchoo", "ice", DATE('now','612 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Beartic", "ice", DATE('now','613 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cryogonal", "ice", DATE('now','614 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Shelmet", 1, DATE('now','615 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Accelgor", 1, DATE('now','616 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, electric, date) VALUES ("Stunfisk", 1, 1, DATE('now','617 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mienfoo", "fighting", DATE('now','618 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mienshao", "fighting", DATE('now','619 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Druddigon", "dragon", DATE('now','620 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Golett", 1, "ghost", DATE('now','621 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Golurk", 1, "ghost", DATE('now','622 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Pawniard", "darksteel", DATE('now','623 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bisharp", "darksteel", DATE('now','624 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Bouffalant", 1, DATE('now','625 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Rufflet", 1, 1, DATE('now','626 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Braviary", 1, 1, DATE('now','627 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Vullaby", 1, "dark", DATE('now','628 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Mandibuzz", 1, "dark", DATE('now','629 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Heatmor", 1, DATE('now','630 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Durant", 1, "steel", DATE('now','631 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Deino", "darkdragon", DATE('now','632 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Zweilous", "darkdragon", DATE('now','633 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hydreigon", "darkdragon", DATE('now','634 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, fire, date) VALUES ("Larvesta", 1, 1, DATE('now','635 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, fire, date) VALUES ("Volcarona", 1, 1, DATE('now','636 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cobalion", "steelfighting", DATE('now','637 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Terrakion", 1, "fighting", DATE('now','638 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Virizion", 1, "fighting", DATE('now','639 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, date) VALUES ("Tornadus", 1, DATE('now','640 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, flying, date) VALUES ("Thundurus", 1, 1, DATE('now','641 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Reshiram", 1, "dragon", DATE('now','642 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Zekrom", 1, "dragon", DATE('now','643 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, flying, date) VALUES ("Landorus", 1, 1, DATE('now','644 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kyurem", "dragonice", DATE('now','645 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Keldeo", 1, "fighting", DATE('now','646 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Meloetta", 1, "psychic", DATE('now','647 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Genesect", 1, "steel", DATE('now','648 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Chespin", 1, DATE('now','649 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Quilladin", 1, DATE('now','650 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Chesnaught", 1, "fighting", DATE('now','651 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Fennekin", 1, DATE('now','652 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Braixen", 1, DATE('now','653 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Delphox", 1, "psychic", DATE('now','654 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Froakie", 1, DATE('now','655 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Frogadier", 1, DATE('now','656 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Greninja", 1, "dark", DATE('now','657 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Bunnelby", 1, DATE('now','658 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, ground, date) VALUES ("Diggersby", 1, 1, DATE('now','659 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Fletchling", 1, 1, DATE('now','660 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Fletchinder", 1, 1, DATE('now','661 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Talonflame", 1, 1, DATE('now','662 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Scatterbug", 1, DATE('now','663 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Spewpa", 1, DATE('now','664 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, flying, date) VALUES ("Vivillon", 1, 1, DATE('now','665 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, normal, date) VALUES ("Litleo", 1, 1, DATE('now','666 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, normal, date) VALUES ("Pyroar", 1, 1, DATE('now','667 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Flabébé", "fairy", DATE('now','668 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Floette", "fairy", DATE('now','669 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Florges", "fairy", DATE('now','670 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Skiddo", 1, DATE('now','671 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Gogoat", 1, DATE('now','672 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Pancham", "fighting", DATE('now','673 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Pangoro", "fightingdark", DATE('now','674 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Furfrou", 1, DATE('now','675 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Espurr", "psychic", DATE('now','676 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Meowstic", "psychic", DATE('now','677 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Honedge", "steelghost", DATE('now','678 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Doublade", "steelghost", DATE('now','679 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Aegislash", "steelghost", DATE('now','680 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Spritzee", "fairy", DATE('now','681 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Aromatisse", "fairy", DATE('now','682 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Swirlix", "fairy", DATE('now','683 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Slurpuff", "fairy", DATE('now','684 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Inkay", "darkpsychic", DATE('now','685 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Malamar", "darkpsychic", DATE('now','686 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Binacle", 1, 1, DATE('now','687 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, water, date) VALUES ("Barbaracle", 1, 1, DATE('now','688 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, water, date) VALUES ("Skrelp", 1, 1, DATE('now','689 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Dragalge", 1, "dragon", DATE('now','690 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Clauncher", 1, DATE('now','691 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Clawitzer", 1, DATE('now','692 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, normal, date) VALUES ("Helioptile", 1, 1, DATE('now','693 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, normal, date) VALUES ("Heliolisk", 1, 1, DATE('now','694 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Tyrunt", 1, "dragon", DATE('now','695 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Tyrantrum", 1, "dragon", DATE('now','696 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Amaura", 1, "ice", DATE('now','697 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Aurorus", 1, "ice", DATE('now','698 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sylveon", "fairy", DATE('now','699 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Hawlucha", 1, "fighting", DATE('now','700 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Dedenne", 1, "fairy", DATE('now','701 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Carbink", 1, "fairy", DATE('now','702 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Goomy", "dragon", DATE('now','703 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Sliggoo", "dragon", DATE('now','704 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Goodra", "dragon", DATE('now','705 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Klefki", "steelfairy", DATE('now','706 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Phantump", 1, "ghost", DATE('now','707 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Trevenant", 1, "ghost", DATE('now','708 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Pumpkaboo", 1, "ghost", DATE('now','709 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Gourgeist", 1, "ghost", DATE('now','710 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Bergmite", "ice", DATE('now','711 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Avalugg", "ice", DATE('now','712 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Noibat", 1, "dragon", DATE('now','713 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Noivern", 1, "dragon", DATE('now','714 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Xerneas", "fairy", DATE('now','715 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Yveltal", 1, "dark", DATE('now','716 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Zygarde", 1, "dragon", DATE('now','717 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Diancie", 1, "fairy", DATE('now','718 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hoopa", "psychicghost", DATE('now','719 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, water, date) VALUES ("Volcanion", 1, 1, DATE('now','720 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Rowlet", 1, 1, DATE('now','721 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, flying, date) VALUES ("Dartrix", 1, 1, DATE('now','722 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Decidueye", 1, "ghost", DATE('now','723 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Litten", 1, DATE('now','724 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, date) VALUES ("Torracat", 1, DATE('now','725 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Incineroar", 1, "dark", DATE('now','726 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Popplio", 1, DATE('now','727 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Brionne", 1, DATE('now','728 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Primarina", 1, "fairy", DATE('now','729 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Pikipek", 1, 1, DATE('now','730 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Trumbeak", 1, 1, DATE('now','731 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, flying, date) VALUES ("Toucannon", 1, 1, DATE('now','732 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Yungoos", 1, DATE('now','733 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Gumshoos", 1, DATE('now','734 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, date) VALUES ("Grubbin", 1, DATE('now','735 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Charjabug", 1, 1, DATE('now','736 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, electric, date) VALUES ("Vikavolt", 1, 1, DATE('now','737 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Crabrawler", "fighting", DATE('now','738 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Crabominable", "fightingice", DATE('now','739 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, flying, date) VALUES ("Oricorio", 1, 1, DATE('now','740 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Cutiefly", 1, "fairy", DATE('now','741 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Ribombee", 1, "fairy", DATE('now','742 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Rockruff", 1, DATE('now','743 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, date) VALUES ("Lycanroc", 1, DATE('now','744 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Wishiwashi", 1, DATE('now','745 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, water, date) VALUES ("Mareanie", 1, 1, DATE('now','746 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, water, date) VALUES ("Toxapex", 1, 1, DATE('now','747 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Mudbray", 1, DATE('now','748 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, date) VALUES ("Mudsdale", 1, DATE('now','749 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, bug, date) VALUES ("Dewpider", 1, 1, DATE('now','750 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, bug, date) VALUES ("Araquanid", 1, 1, DATE('now','751 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Fomantis", 1, DATE('now','752 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Lurantis", 1, DATE('now','753 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Morelull", 1, "fairy", DATE('now','754 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Shiinotic", 1, "fairy", DATE('now','755 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, fire, date) VALUES ("Salandit", 1, 1, DATE('now','756 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, fire, date) VALUES ("Salazzle", 1, 1, DATE('now','757 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Stufful", 1, "fighting", DATE('now','758 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Bewear", 1, "fighting", DATE('now','759 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Bounsweet", 1, DATE('now','760 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Steenee", 1, DATE('now','761 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, date) VALUES ("Tsareena", 1, DATE('now','762 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Comfey", "fairy", DATE('now','763 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Oranguru", 1, "psychic", DATE('now','764 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Passimian", "fighting", DATE('now','765 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, water, date) VALUES ("Wimpod", 1, 1, DATE('now','766 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, water, date) VALUES ("Golisopod", 1, 1, DATE('now','767 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Sandygast", 1, "ghost", DATE('now','768 days'))
-----------------------

-----------------------
INSERT INTO laba(name, ground, add_skill, date) VALUES ("Palossand", 1, "ghost", DATE('now','769 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, date) VALUES ("Pyukumuku", 1, DATE('now','770 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Type: Null", 1, DATE('now','771 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Silvally", 1, DATE('now','772 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, flying, date) VALUES ("Minior", 1, 1, DATE('now','773 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, date) VALUES ("Komala", 1, DATE('now','774 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Turtonator", 1, "dragon", DATE('now','775 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Togedemaru", 1, "steel", DATE('now','776 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Mimikyu", "ghostfairy", DATE('now','777 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Bruxish", 1, "psychic", DATE('now','778 days'))
-----------------------

-----------------------
INSERT INTO laba(name, normal, add_skill, date) VALUES ("Drampa", 1, "dragon", DATE('now','779 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Dhelmise", 1, "ghost", DATE('now','780 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Jangmo-o", "dragon", DATE('now','781 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Hakamo-o", "dragonfighting", DATE('now','782 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Kommo-o", "dragonfighting", DATE('now','783 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, add_skill, date) VALUES ("Tapu Koko", 1, "fairy", DATE('now','784 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Tapu Lele", "psychicfairy", DATE('now','785 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Tapu Bulu", 1, "fairy", DATE('now','786 days'))
-----------------------

-----------------------
INSERT INTO laba(name, water, add_skill, date) VALUES ("Tapu Fini", 1, "fairy", DATE('now','787 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cosmog", "psychic", DATE('now','788 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Cosmoem", "psychic", DATE('now','789 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Solgaleo", "psychicsteel", DATE('now','790 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Lunala", "psychicghost", DATE('now','791 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, poison, date) VALUES ("Nihilego", 1, 1, DATE('now','792 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Buzzwole", 1, "fighting", DATE('now','793 days'))
-----------------------

-----------------------
INSERT INTO laba(name, bug, add_skill, date) VALUES ("Pheromosa", 1, "fighting", DATE('now','794 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Xurkitree", 1, DATE('now','795 days'))
-----------------------

-----------------------
INSERT INTO laba(name, flying, add_skill, date) VALUES ("Celesteela", 1, "steel", DATE('now','796 days'))
-----------------------

-----------------------
INSERT INTO laba(name, grass, add_skill, date) VALUES ("Kartana", 1, "steel", DATE('now','797 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Guzzlord", "darkdragon", DATE('now','798 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Necrozma", "psychic", DATE('now','799 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Magearna", "steelfairy", DATE('now','800 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Marshadow", "fightingghost", DATE('now','801 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, date) VALUES ("Poipole", 1, DATE('now','802 days'))
-----------------------

-----------------------
INSERT INTO laba(name, poison, add_skill, date) VALUES ("Naganadel", 1, "dragon", DATE('now','803 days'))
-----------------------

-----------------------
INSERT INTO laba(name, rock, add_skill, date) VALUES ("Stakataka", 1, "steel", DATE('now','804 days'))
-----------------------

-----------------------
INSERT INTO laba(name, fire, add_skill, date) VALUES ("Blacephalon", 1, "ghost", DATE('now','805 days'))
-----------------------

-----------------------
INSERT INTO laba(name, electric, date) VALUES ("Zeraora", 1, DATE('now','806 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Meltan", "steel", DATE('now','807 days'))
-----------------------

-----------------------
INSERT INTO laba(name, add_skill, date) VALUES ("Melmetal", "steel", DATE('now','808 days'))
-----------------------

In [ ]:
request = requests.get('https://raw.githubusercontent.com/NumminorihSF/json-pokemon/master/data.json')
result = request.json()

def req(id):
    import requests
    request = requests.get('https://raw.githubusercontent.com/NumminorihSF/json-pokemon/master/data.json')
    result = request.json()
    return result[id-1]


def connect_db(sql_request, parametrs=[], name_db = 'laba_pokemones.db'):
    import sqlite3
    db = sqlite3.connect(name_db)
    cur = db.cursor()
    # print(sql_request, parametrs)
    cur.execute(sql_request, parametrs)
    db.commit()
    res = cur.fetchall()
    cur.close()
    return res
    

def show_log(event, txt):
    if event == 1:
        print(f'Успешная запись в БД {txt}')


def set_pokemon(name, skills, num_day):
    create_table()
    sql_res = f'INSERT INTO pokemon (name, skill, date) VALUES (?,?,date("now", "{num_day} days") )'
    connect_db(sql_res, parametrs = [name, skills])
    show_log(1, name)


count = 1
create_table()
while True:
    data = input('Введите какого Покемона вывести по ID \n Или вы хотите \n q: исправить старые записи \n с: исправить count(прибавление даты с сегодняшнего дня) \n s: вывести всю таблицу \n\n')
    if data == 'q':
        try:
            for pok in connect_db('SELECT * FROM laba'):
                print(pok)
            id = input('Какое id у покемона для исправления? ')
            column = input('Какую колонку вы бы хотели заменить?')
            if column == 'name':
                data_replace = input('На какое значение вы хотите заменить?')
                request = f"""Update laba set {column} = \'{data_replace}\' where id = {id}"""
                connect_db(request)
            elif column == 'date':
                data_replace = input('Какое вы значение хотите прибавить к дате?')
                request = f"""Update laba set {column} = DATE('now','{data_replace} days') where id = {id}"""
                connect_db(request)
            else:
                data_replace = input('На какое значение вы хотите заменить?')
                request = f"""Update laba set {column} = {data_replace} where id = {id}"""
                connect_db(request)
        except:
            print('Вы не правильно ввели!')
            pass

    elif data == 'c':
        count = int(input(f'текущий Count:{count}, на какое число исправить: '))
    elif data == 's':
        for pok in connect_db('SELECT * FROM laba'):
            print(pok)
    else:
        pokemon = req(int(data))
        print(pokemon)

        data = input('записать этого Покемона в БД? [y/n]: ')
        if data =='y':
            skill = ''
            for ski in pokemon['typeList']:
                skill += ' '+ ski
            set_pokemon(pokemon['name'], ski, count)
            count += 1

In [ ]:
# ЛАБА
# добавить функционал исправление старых записей
# добавить функцию u - при этом выводить весь список записей,
# спрашивать у какого ID исправить дату?
# После ввода ID внести изменения даты согласно текущему count в БД